<launch>

    <arg default="1" name="id" />
    <arg default="true" name="multimaster_use" />
    <arg default="5.0" name="delay" />
    <arg default="sitl" name="mode" />
    <arg default="iris" name="robot_model" />
    <arg default="px4" name="autopilot" />
    <arg default="[37.558542, -5.931074, 7.89]" name="origin_geo" />

    <rosparam command="load" file="$(find magna)/yaml/all_rosparams.yaml" />

    <arg default="serial:///dev/ttyUSB0:921600" name="fcu_url" />
    <arg default="udp://@localhost" name="gcs_url" />

    <group if="$(arg multimaster_use)">
        <include file="$(find magna)/launch/multimaster.launch"></include>
    </group>

    <include file="$(find magna)/launch/complete_spawner_JA.launch" >

        <arg value="false" name="multi" />
        <arg value="uav_" name="ns_prefix" />
        <arg value="$(arg mode)" name="mode" />
        <arg value="map" name="pose_frame_id" />
        <arg value="on" name="ual_server" />
        <arg value="30.0" name="ual_pub_rate" />
        <arg value="10.0" name="mavros_offboard_rate" />
        <arg value="$(arg robot_model)" name="robot_model" />

        <arg value="true" name="ual_use" />
        <arg value="$(arg autopilot)" name="autopilot" />
        <arg value="true" name="uav_manager_use" />
        <arg value="$(arg id)" name="id" />
        <arg value="$(arg origin_geo)" name="origin_geo" />

        <arg name="fcu_url" value="$(arg fcu_url)" />
        <arg name="gcs_url" value="$(arg gcs_url)" />

    </include>

    <group if="$(eval mode == 'sitl')">
        <include file="$(find magna)/launch/gazebo_spawner_JA.launch" >

            <arg value="$(arg origin_geo)" name="origin_geo" />
            <arg value="gazebo_world_$(arg id)" name="node_name" />

        </include>
    </group>
</launch>
