<launch>

    <arg default="false" name="multi" />
    <arg default="uav_" name="ns_prefix" />
    <arg default="sitl" name="mode" />
    <arg default="map" name="pose_frame_id" />
    <arg default="on" name="ual_server" />
    <arg default="30.0" name="ual_pub_rate" />
    <arg default="10.0" name="mavros_offboard_rate" />

    <arg default="true" name="ual_use" />
    <arg default="px4" name="autopilot" />
    <arg default="true" name="uav_manager_use" />
    <arg default="3" name="id" />
    <arg default="[38.139037, -3.173351, 0.0]" name="origin_geo" />

    <arg default="serial:///dev/ttyUSB0:921600" name="fcu_url" />
    <arg default="udp://@localhost" name="gcs_url" />
    <arg default="mbzirc" name="robot_model" />

    <arg default="safedrone2" name="hostname" />
    <arg default="safedrone2" name="username" />
    <arg default="nuc" name="ssh_password" />

    <group ns="$(arg ns_prefix)$(arg id)">
        <group>
            <group if="$(eval autopilot == 'px4')">
                <include file="$(find magna)/launch/PX4_spawn_robot_JA.launch">
                    <arg name="id" value="$(arg id)" />
                    <arg name="material" value="Orange" />
                    <arg name="mode" value="$(arg mode)" />
                    <arg name="x" value="0" />
                    <arg name="y" value="0" />
                    <arg name="z" value="0" />
                    <arg name="yaw" value="0" />
                    <arg name="ual_use" value="$(arg ual_use)" />
                    
                    <arg name="robot_model" value="$(arg robot_model)" />
                    <arg name="fcu_url" value="$(arg fcu_url)" />
                    <arg name="gcs_url" value="$(arg gcs_url)" />
                    <arg name="rtcm_topic" value="/rtcm_stream" />
                </include>
            </group>

            <group if="$(eval autopilot == 'dji')">
                <include file="$(find magna)/launch/DJI_spawn_robot_JA.launch">
                    <arg name="id" value="$(arg id)" />
                    <arg name="mode" value="$(arg mode)" />
                </include>
            </group>

            <group if="$(eval autopilot == 'bitcraze')">
                <include file="$(find crazyswarm)/launch/hover_swarm.launch" />
            </group>
        </group>
    

        <group if="$(arg ual_use)">
            <group if="$(eval autopilot == 'px4')">
                <node name="ual" output="screen" pkg="ual_backend_mavros" type="ual_backend_mavros_server">
                    <param name="uav_id" value="$(arg id)" />
                    <param name="pose_frame_id" value="$(arg pose_frame_id)" />
                    <param name="ual_server" value="$(arg ual_server)" />
                    <param name="ual_pub_rate" value="$(arg ual_pub_rate)" />
                    <param name="mavros_offboard_rate" value="$(arg mavros_offboard_rate)" />
                    <param name="home_pose_parent_frame" value="map" />
                    <param name="backend" value="mavros" />
                    <rosparam param="map_origin_geo">[38.139037, -3.173351, 0.0]</rosparam>
                    <param name="position_th" value="0.33" />
                    <param name="orientation_th" value="0.65" />
                    <param name="hold_pose_time" value="3.0" />
                </node>
            </group>
            <group if="$(eval autopilot == 'dji')">
                <node name="ual" output="screen" pkg="uav_abstraction_layer" type="server">
                    <param name="backend" value="dji" />
                    <param name="laser_altimeter" value="false" />
                    <param name="self_arming" value="true" />
                    <rosparam param="map_origin_geo">[37.199941, -5.881098, 0.0]</rosparam>
                </node>
            </group>   
            <group if="$(eval autopilot == 'crazyflie')">
                <node name="ual" output="screen" pkg="uav_abstraction_layer" type="server">
                    <param name="backend" value="crazyflie" />
                </node>
            </group>
        </group>
    </group>

    <group if="$(arg uav_manager_use)">
        <node args="-ID=$(arg id)" name="agent_$(arg id)" output="screen" pkg="magna" type="Agent_Manager.py" />
    </group>

    <group if="$(eval mode == 'ssh')">
        <include file="$(find magna)/launch/ssh_agent.launch">
            <arg name="id" value="$(arg id)" />
            <arg name="hostname" value="$(arg hostname)" />
            <arg name="username" value="$(arg username)" />
            <arg name="password" value="$(arg ssh_password)" />

            <arg name="fcu_url" value="$(arg fcu_url)" />
            <arg name="gcs_url" value="$(arg gcs_url)" />
        </include>
    </group>

</launch>