<launch>

    <arg default="sitl" name="mode" />
    
    <group if="$(eval mode=='sitl')">
        
        <rosparam param="/use_sim_time">true</rosparam>
        <node args="-physics=ode -world=$(find px4_bringup)/config/empty_light.world" name="gazebo_world" output="screen" pkg="px4_bringup" type="launch_gzworld_JA.py">
            <rosparam param="sim_origin">[37.558542, -5.931074, 7.89]</rosparam>
        </node>
    </group>

</launch>